@use '../../sass/abstracts/vars.scss';
.profile {
	.profileDisplay {
		display: flex;
		align-items: center;
		min-width: 35px;
		gap: 0.5rem;
		@media screen and (max-width: 500px) {
			.usertext{
				display: none;
			}
		}
	}
	.expandedMenu {
		// height: 200px;
		// width: 150px;
		padding: 0.5em .5em 0.5em 1.5em;
		background-color: white;
		position: absolute;
		top: 36px;
		right: 25px;
		box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
		a:hover{
			background-color: vars.$color_white_95;
		}
	}
}
