//fonts
$font_primary: "Arial";
$font_secondary: "sans-serif";

//--------------------------------//
//COLORS
//monochrome
$color_white: #ffffff;
$color_white_99: #f9f9f9;
$color_white_95: #f1f1f1;
$color_grey_light: #d1d1d1;
$color_grey: #767676;
$color_grey_dark: #55545c;
$color_grey_darker: #565656;
$color_black_80: #343434;

//color
$color_logo: #629aba;
$color_blue_bg: #1d3543;
$color_blue_light: #b2d0e1;
$color_blue: #649cbb;
$color_blue_dark: #4f6f81;
$color_green: #78b4a9;
$color_green_dark: #4c8379;
$color_red: #bd423a;
$color_red_dark: #7e2c26;
$color_yellow: #e4cc74;
$color_yellow_dark: #bea95e;
$green_enabled: #41ba2d;
$color_grey_transparent: rgba(136, 136, 136, 0.2);
//$color_white_50: rgba(103, 77, 77, 0.73);
$color_landing-green: rgba(84, 117, 119, 0.73);
$all_colors: (
	white: $color_white,
	white_99: $color_white_99,
	white_95: $color_white_95,
	grey_light: $color_grey_light,
	grey: $color_grey,
	grey_dark: $color_grey_dark,
	grey_darker: $color_grey_darker,
	black_80: $color_black_80,
	logo: $color_logo,
	blue_bg: $color_blue_bg,
	blue_light: $color_blue_light,
	blue: $color_blue,
	blue_dark: $color_blue_dark,
	green: $color_green,
	green_dark: $color_green_dark,
	red: $color_red,
	red_dark: $color_red_dark,
	yellow: $color_yellow,
	yellow_dark: $color_yellow_dark,
	green_enabled: $green_enabled,
	green_landing: $color_landing_green,
);

$button_colors: (
	blue: $color_blue,
	blue_dark: $color_blue_dark,
	green: $color_green,
	green_dark: $color_green_dark,
	red: $color_red,
	red_dark: $color_red_dark,
	yellow: $color_yellow,
	yellow_dark: $color_yellow_dark,
);

//transparencies

