//fonts
$font_primary:"Arial";
$font_secondary:"sans-serif";

//--------------------------------//
//COLORS
//monochrome
$color_white: #ffffff;
$color_white_99: #F9F9F9;
$color_white_95: #F1F1F1;
$color_grey_light: #D1D1D1;
$color_grey: #767676;
$color_grey_dark: #55545C;
$color_grey_darker: #565656;
$color_black_80: #343434;

//color
$color_logo: #629ABA;
$color_blue_bg: #1D3543;
$color_blue_light: #B2D0E1;
$color_blue: #649CBB;
$colorblue_dark: #4F6F81;
$color_green: #78B4A9;
$color_green_dark: #4C8379;
$color_red: #BD423A;
$color_red_dark: #7E2C26;
$color_yellow: #E4CC74;
$color_yellow_dark: #BEA95E;
$green_enabled: #41BA2D;

//transparencies
$color_grey_transparent: rgba(136, 136, 136, 0.2);
$color_white_50: rgba(103, 77, 77, 0.73);
$color_landing-green: rgba(84, 117, 119, 0.73);