@use '../sass/abstracts/vars.scss';

.bookPreview{
	display: flex;
	height: 100vh;
	padding: 1rem;
	.bookContent{
		background-color: vars.$color_white;
		height: 100%;
		padding: 2rem 1rem;
		width: 100%;
		border-radius: 11px;
	}
	.colright{
		display: flex;
		flex-direction: column;
		// align-items: stretch;
		flex: 4;
		margin: 2rem;
		gap: 1rem;
		justify-content: center;
	}
}