@use "../sass/abstracts/vars.scss";

// .bgvideo{
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index: -5;
// }
.background {
	background-image: url("../public/images/2.png");
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.welcome {
	background-color: vars.$color_landing-green;	
	//moving background, northern lights
	//moving up and to the right
	//dense particles at one side
	overflow: hidden;
	padding: 1.5em 1.8em;
	& div{
		gap: .5em;
	}
	@media (min-width: 1140px) {
		& div{
			gap: 2em;
		}
	}
	max-width: 100%;
	// width: 311px;
	// height: 178px;
	/* Landing Green */
	border-radius: 11px;
	&>*{
		text-align: center;
	}
}
@media (max-width: 800px) {
	.welcome {
		font-size: 0.75rem;
	}
}
.feature {
	box-sizing: border-box;
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 67px 17px;
	// gap: 10px;

	width: 600px;
	height: 212px;
	max-width: 100%;

	/* Landing Green */

	background-color: vars.$color_landing-green;
	border-radius: 11px;

	/* Inside auto layout */
	
}
