@use "../../sass/abstracts/vars.scss";

//TODO: Multiple sizes, icon position
$sizes: (small: 1, medium: 2, large: 3);
$iconpos: left, right;

.buttn {
	border: none;
	// box-shadow: none;
	border-radius: 25px;
	padding: 0.75em 1.25em;
	font-size: 1em;
	font-style: normal;
	// margin-inline: 1rem;
	min-width: 0;
	max-width: 100%;
	// padding-block: 1rem;
	// height: 3rem;
	white-space: nowrap;
	cursor: pointer;
	color: white;
	a{color: white;}
	a:hover{
		text-decoration: none;
	}
	@each $size, $value in $sizes{
		&.size-#{$size}{
				padding: calc(0.75em * $value) calc(1.25em * $value);
		}
	
	}
	&.color-empty{
		background-color: vars.$color_white_95;
		color: vars.$color_black_80;
		box-shadow: none;
		@each $size, $value in $sizes{
			&.size-#{$size}{
					border: calc(1px * $value) solid vars.$color_black_80;
			}
		}
		&:hover{
			background-color: vars.$color_grey_light;
		}
		&:active{
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-blue {
		background-color: vars.$color_blue;
		box-shadow: none;

		&:hover {
			background-color: vars.$color_blue_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-green {
		background-color: vars.$color_green;
		&:hover {
			background-color: vars.$color_green_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-red {
		background-color: vars.$color_red;
		&:hover {
			background-color: vars.$color_red_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-yellow {
		background-color: vars.$color_yellow;
		&:hover {
			background-color: vars.$color_yellow_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}

	//works, but unable to set hover color, needs more robust solution
	// @each $value in $colors{
	// 	&.color-#{$value}{
	// 		background-color: $value;
	// 	}
	// 	&.color-#{$value}:hover{
	// 		background-color: black;
	// 	}
	// }
}
