@use "../../sass/abstracts/vars.scss";

//TODO: Multiple sizes, icon position
$sizes: small, medium, large;
$iconpos: left, right;

.buttn {
	border: none;
	box-shadow: none;
	border-radius: 11px;
	// padding: 1rem 1.5rem;
	// padding-block: 1rem;
	// height: 3rem;
	white-space: nowrap;
	cursor: pointer;
	color: white;

	a {
		display: flex;
		align-items: center;
		// color: white;
	}

	&.color-blue {
		background-color: vars.$color_blue;
		box-shadow: none;

		&:hover {
			background-color: vars.$color_blue_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-green {
		background-color: vars.$color_green;
		&:hover {
			background-color: vars.$color_green_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-red {
		background-color: vars.$color_red;
		&:hover {
			background-color: vars.$color_red_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	&.color-yellow {
		background-color: vars.$color_yellow;
		&:hover {
			background-color: vars.$color_yellow_dark;
		}
		&:active {
			box-shadow: inset 0 5px 15px -2px rgb(32, 32, 32);
		}
	}
	.btnParent {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	//works, but unable to set hover color, needs more robust solution
	// @each $value in $colors{
	// 	&.color-#{$value}{
	// 		background-color: $value;
	// 	}
	// 	&.color-#{$value}:hover{
	// 		background-color: black;
	// 	}
	// }
}
