.expressionPreview {
	display: flex;
	position: relative;
	// padding: 1rem;
	margin-left: 1em;
	cursor: pointer;
	svg {
		margin-left: -0.55em;
		background-color: #fff;
		border-radius: 25px;
		border: 1px dashed grey;
	}
}
.expressionsMobile {
	display: none;
}
@media screen and (max-width: 850px) {
	.expressionPreview {
		svg {
			margin-left: -0.9em;
		}
	}
}
@media screen and (max-width: 650px) {
	.expressionPreview {
		display: none;
	}
	.expressionsMobile {
		display: block;
		cursor: pointer;

	}
}
