@use "../../sass/abstracts/vars.scss";

.popup {
	display: flex;
	// position: absolute;
	position: absolute;
	justify-content: center;
	gap: 0.25em;
	// position: relative;
	background-color: vars.$color_white;
	box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.341);
	padding: 0.25em 0.5em 1em 0.5em;
	z-index: 100;

	.icon {
		position: relative;
		padding: 0.5em;
		// background-color: rgba(255, 255, 255, 0);
		.counter {
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			border-radius: 100%;
			padding: 0.1em;
		}
	}
}
.desc {
	position: absolute;
	// background: rgb(255, 255, 255);
	width: 100%;
	background: linear-gradient(
		0deg,
		vars.$color_white_95 0%,
		rgba(255, 255, 255, 0.50) 100%
	);
	bottom: 0px;
	left: 0;
	// transition: all 125s;
}
@media screen and (max-width: 400px) {
	.popup {
		font-size: 14px;
	}
}
