.author {
	background: #ffffff;
	border-radius: 21px;
	padding-inline: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	.r1{
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		.r1c1{
			display: flex;
			gap: 1rem;
		}
	}
}
