.formcontrol {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.1;
	display: block;
	// display: grid;
	// grid-template-columns: 1em auto;
	// gap: 0.5em;
	// input[type="checkbox"] {
	// 	appearance: none;
	// 	font: inherit;
	// 	color: currentColor;
	// 	width: 1.15em;
	// 	height: 1.15em;
	// 	border: 0.15em solid currentColor;
	// 	border-radius: 0.15em;
	// 	// transform: translateY(-0.075em);
	// 	transform: translateX(2.5em);
	// }
}
