@use '../sass//abstracts/vars.scss';

.comment{
	font-size: 0.8em;
	display: flex;
	// border: 1px solid black;
	align-items: flex-end;
	gap: 0.5em;
	padding-block: 0.5rem;
	border-bottom: 1px solid vars.$color_grey_light;
	.commentAuthor{
		display: flex;
		align-items: flex-end;
		gap: 0.5em;
		.containedImg{
			position: relative;
			width: 35px;
			aspect-ratio: 1;
		}
	}
}