@use '../sass/abstracts/mixins';

.container{
    margin-inline: 1rem;
    &.marginLeft{
        margin-left: 1rem;
        margin-right: 0;
    }
    &.marginRight{
        margin-left: 0;
        margin-right: 1rem;
    }
    &.marginTop{
        margin-top: 50px;
    }
    &.marginBottom{
        margin-bottom: 50px;
    }
}