.storyCreator{
	// height: calc(100vh - 16px);
	// width: 100%;
	// aspect-ratio: 1/2;
	display: flex;
	flex-direction: column;
	.body{
		display: flex;
		align-items: center;
		// flex-basis: 100%;
		// flex-grow: 10;
		// flex-shrink: 0;
		>span{
			font-size: 75px;
			cursor: pointer;
		}
	}
	.controls{
		display: flex;
		justify-content: space-between;
	}
}