@use "../../sass/abstracts/vars.scss";
$all_colors: vars.$all_colors;
$fontWeights: lighter, normal, bold, bolder;
$sizes: 1em, 2em, 3em, 4em;
$alignments: left, center, right;
//Status: Functional
//TODO: Allow use of every color variable, maybe from a color mixin, text alignment

.text {
	width: 100%;
	display: inline;
	margin: 0;
	@each $value in $fontWeights{
		&.font-weight-#{$value}{
			font-weight: $value;
		}
	}
	@each $color, $value in $all_colors{
		&.color-#{$color}{
			color: $value;
		}
	}
	@each $value in $sizes{
		&.size-#{$value}{
			font-size: $value;
		}
	}
	@each $value in $alignments{
		&.text-align-#{$value}{
			text-align: $value;
		}
	}
}
