@use "../../sass/abstracts/vars.scss";

// @media screen and (min-width: 500px) {
.post {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: vars.$color_white;
	border-radius: 11px;
	padding: 1em 1.5em;
	gap: 1em;
	min-width: 100%;
	height: 13em;
	//overflow cannot be hidden due to expressions popup
	&:hover {
		box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.057);
	}
	.hideAuthor {
		display: none;
	}
	.c1 {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
		align-items: center;
		max-width: 14%;
		a{
			height: 100%;
			width: 100%;
		}
		img {
			max-height: 9em;
			// width: 100%;
			// max-height: 100%;
			border-radius: 25px;
			// min-width: 75px;
			@media screen and (max-width: 400px) {
				max-height: 4em;
				max-width: 2em;
			}
		}
	}
	.c2 {
		flex: 6;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		justify-content: space-between;
		.r1 {
			display: flex;
			font-size: 1.6em;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;

			img {
				max-width: 40px;
			}
		}
		.r2 {
			font-size: 1em;
			// margin-right: 3em;
		}
		.r3 {
			display: flex;
			font-size: 1em;
			justify-content: space-between;
			text-align: left;
			// background-color: vars.$color_white_95;
		}
	}
}
// }

@media screen and (max-width: 700px) {
	.post {
		font-size: 14px;
		gap: 0.5em;
		.c1 {
			a {
				> div {
					width: 50px !important;
					height: 75px !important;
				}
			}
		}
		.c2 {
			.r1 {
				img{
					width: 25px !important;
					height: 25px !important;
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.post {
		h3 {
			font-size: 1.1em !important;
		}
		padding-right: 0.5em;
		gap: 1em;
		* {
			gap: 0.2em;
		}
		.c2 {
			.r3 {
				flex-direction: column;
				align-items: center;
				.commentbody {
					display: none;
				}
			}
		}
	}
}
