@use '../../sass/abstracts/vars.scss';

.sizing{
	@media (max-width: 1050px) {
		max-width: 95%;
		padding: 0.25rem;
	}
	margin: 0 auto;
	padding-inline: 1rem;

}
.background{
	background-color: vars.$color_landing-green;
	padding-block: 1.5rem;
	padding-inline: 0.5rem;
	text-align: center;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}
.previewFeed{
	display: flex;
	flex-direction: column;
	gap: .5rem;
	overflow: scroll;
	max-height: 350px;
	padding: 0.75rem .5rem;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	// border-end-end-radius: 11px;
	background-color: vars.$color_blue_bg;

}