.startButton{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.storyCreator{
	// height: calc(100vh - 16px);
	// width: 100%;
	// aspect-ratio: 1/2;
	height: 100vh;
	overflow: hidden;
	display: flex;
	position: relative;
	flex-direction: column;
	>form{
		text-align: center;
		.tagCat{
			padding: .5em 0.25em;
			position: fixed;
			top: 55px;
			right: 5px;
			// width: 20%;
			min-width: 10%;
			max-width: 20%;
			background-color: white;
			border-radius: 11px;
			// height: 200px;
			z-index: 100;
			display: flex;
			gap: 0.5em;
			flex-direction: column;
			align-items: center;
			select{
				width: 90%;
			}
			input[type="text"]{
				border: 1px solid rgb(207, 207, 207);
				width: 90%;
			}
		}
	}
	.body{
		display: flex;
		height: 100%;
		justify-content: center;
		// align-items: center;
		// flex-basis: 100%;
		// flex-grow: 10;
		// flex-shrink: 0;
		.addPage{
			font-size: 100px;
			cursor: pointer;
			display: flex;
			align-items: center;
		}
	}
	.controls{
		position: absolute;
		bottom: 50px;
		width: 100%;
		// left: 0;
		// right: 0;
		display: flex;
		.arrows{
			width: 100%;
			display: flex;
			justify-content: space-between;
			>div{
				cursor: pointer;
			}
		}
	}
}