@use "../../sass/abstracts/vars.scss";
$textAlignments: left, right, center;

.menu {
	// border: 1px solid black;
	display: flex;
	flex-direction: column; //vertical
	max-width: 100%;
	&.left {
		justify-content: flex-start;
	}
	&.right {
		justify-content: flex-end;
	}
	&.center {
		justify-content: center;
	}
	a {
		display: block;
	}
	.item,
	a {
		color: vars.$color_black_80;
		// padding-inline: 0.25em;
		&:hover {
			background-color: vars.$color_white_95;
		}
	}
	&.horizontal {
		flex-direction: row;
		gap: 1rem;
		&.left {
			align-items: flex-start;
		}
		&.right {
			align-items: flex-end;
		}
		&.center {
			align-items: center;
		}
	}
	@each $value in $textAlignments {
		&.text-alignment-#{$value} {
			text-align: $value;
		}
	}
}
